{% extends "base.html" %}

{% block title %}Profesores{% endblock %}

{% block content %}
<section id="team" class="teacher-area">
	<div class="container">								
		<div class="row text-center d-flex flex-row justify-content-center mt-4">
            {% for teacher in teachers %}
			<div class="our-team col-lg-2 col-sm-4 col-6">
				<div class="single-mate">
					<a href="{{ teacher.get_absolute_url }}">
						<img src="{{ teacher.avatar.url }}" class="img-fluid" alt="{{ teacher.fullname }}">
					</a>
					<h4 class="mt-2 mb-4">{{ teacher.fullname }}</h4>
				</div>							
			</div>
      {% endfor %}		  
		</div>	
	</div>
</section>
{% endblock %}

