{% extends "base.html" %}
{% load static %}

{% block title %}OT 2023{% endblock %}

{% block content %}
<section id="hero" class="hero d-flex flex-row justify-content-around align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
        <div class="row d-flex flex-row justify-content-around align-items-center">
            <div class="polaroid">
                <a href="{% url 'info:teacher_list' %}"><img src={% static "img/teachers/all-together.jpeg" %} alt="teachers">
                    <div class="name">
                        <p>Profesores</p>
                    </div>
                </a>
            </div>
            <div class="polaroid">
                <a href="{% url 'info:competitor_list' %}"><img src={% static "img/competitors/competitors.jpeg" %} alt="competitors">
                    <div class="name">
                        <p>Alumnos</p>
                    </div>
                </a>
            </div>
            <div class="polaroid">
                <a href="{% url 'info:judge_list' %}"><img src={% static "img/judge/judge.jpg" %} alt="judge">
                    <div class="name">
                        <p>Jurado</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}