{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html>
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
     <!-- Favicon -->
    <link href="{% static "img/only-logo.png" %}" rel="icon">

</head>
<body class="ot-gradient">
    {% block header %}
        {% include "header.html" %}
    {% endblock header %}

    {% block content %}{% endblock %}

    {% block footer %}
        {% include "footer.html" %}
    {% endblock footer %}
</body>
</html>