{% load static %}

<footer id="footer" class="footer">
    <div class="container">
        <hr>
        <div class="social-media">
            <div class="row">
                <div class="social-links col-12 d-flex justify-content-around align-items-center p-3">
                    <a href="https://twitter.com/OT_Oficial" id="twitter" class="social" target="_blank">
                        <img src="{% static 'img/social_media/icons8-twitterx-50.png' %}">
                    </a>
                    <a href="https://www.facebook.com/operaciontriunfo" id="facebook" class="social" target="_blank">
                        <img src="{% static 'img/social_media/icons8-facebook-50.png' %}">
                    </a>
                    <a href="https://www.instagram.com/operaciontriunfo/" id="instagram" class="social" target="_blank">
                        <img src="{% static 'img/social_media/icons8-instagram-50.png' %}">
                    </a>
                    <a href="https://www.youtube.com/channel/UCc1sAhdaLjfJi11X1awO-yg" id="youtube" class="social" target="_blank">
                        <img src="{% static 'img/social_media/icons8-youtube-50.png' %}">
                    </a>
                </div>
            </div>
        </div>
</footer>