{% load static %}

<header id="header" class="header container-fluid ot-gradient shadow mb-5 bg-body rounded">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-6 d-flex justify-content-center align-content-center">
                <a href="{% url "info:homepage" %}">
                    <img src="{% static 'img/ot-banner.png' %}" id="ot-header-logo" class="img-fluid p-3" alt="ot-header-logo">
                </a>
            </div>
            <!--BREADCRUMBS-->
            {% include "breadcrumbs.html" %}
            <!--SEARCH BAR-->
            {% include "search_bar.html" %}
        </div>
    </div>
</header>