{% load static %}

<header id="header" class="header container-fluid ot-gradient shadow mb-5 bg-body rounded">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-4 d-flex justify-content-center align-content-center">
                <a href="#">
                    <img src="{% static 'img/ot-banner.png' %}" id="ot-header-logo" class="img-fluid p-3" alt="ot-header-logo">
                </a>
            </div>
            {% comment %} <div class="header-social-links col-9 d-flex justify-content-end align-items-center">
                <a href="https://twitter.com/OT_Oficial" id="twitter" class="social">
                    <img src="{% static 'img/social_media/icons8-twitterx-50.png' %}">
                </a>
                <a href="https://www.facebook.com/operaciontriunfo" id="facebook" class="social">
                    <img src="{% static 'img/social_media/icons8-facebook-50.png' %}">
                </a>
                <a href="https://www.instagram.com/operaciontriunfo/" id="instagram" class="social">
                    <img src="{% static 'img/social_media/icons8-instagram-50.png' %}">
                </a>
                <a href="https://www.youtube.com/channel/UCc1sAhdaLjfJi11X1awO-yg" id="youtube" class="social">
                    <img src="{% static 'img/social_media/icons8-youtube-50.png' %}">
                </a>
            </div> {% endcomment %}
        </div>
    </div>
</header>