/***** VARIABLES *****/
$gradient-background: linear-gradient(to right, rgb(37, 37, 209), rgb(223, 119, 119), rgb(255, 187, 60));


* {
    padding: 0;
    margin: 0;
}


.ot-gradient {
    background: $gradient-background
}


/*****HOMEPAGE*****/
.polaroid {
    width: fit-content;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;

    img {
        width: 500px;
        height: 300px;
        object-fit: cover;
        padding-top: 10px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .name {
        text-align: center;
        padding: 10px 20px;
    }
  }

  /******TEACHERS*****/
.teacher-area a {
    text-decoration: none;
    color: black;
  }
